{% macro render_dict(dictionary) %}
    <table>

        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Comments</th>
        </tr>

        {% for key, val in dictionary.items() %}
            <tr>
                <td>{{ key|capitalize }}</td>
                <td>{{ val|round(2) }}</td>
                {% if val <= 2 %}
                    <td>Short</td>
                {% elif val <= 3 %}
                    <td>Medium</td>
                {% else %}
                    <td style = "color: red">Long</td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
{% endmacro %}