<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Plus</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>

    <h1>The list is provided by {{ name }}</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>Rating</td>
            <td>Comments</td>
        </tr>

        {% for movie, rating in movies.items() %}
            <tr>
                <td>{{ movie }}</td>
                <td>{{ rating }}</td>

                {% if rating < 5 %}
                    <td>Poor</td>
                {% elif rating < 8 %}
                    <td>Average</td>
                {% else %}
                    <td style = "color:red">Good</td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>

</body>
</html>